body{
    margin: 0;
}

/* Google Roboto Web Font */
.roboto-font{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.material-symbols-rounded{
    font-size: 40px;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    text-align: center;
}

.hide{
    display: none;
}

.cyc-menu-btn{
    width: 22px;
    height: 22px;
}