/* Menu container */
#ui-midride-menu{
    position: absolute;

    top: 20px;
    left: 20px;
    z-index: 2000;

    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    color: white;
}

#ui-midride-menu.hide{
    display: none;
}

.ui-midride-element{
    color: white;

    width: 80px;
    height: 80px;
    padding: 0;
}

/* Open / Close Button */
#open-inride-menu{
    width: 80px;
    height: 80px;
    padding: 0;

    background-color: rgba(200, 200, 200, 0.7);
}

/* Return zoom to rider */
#zoom-frame-rider{
    position: absolute;

    top:100px;

    width: 80px;
    height: 80px;
    padding: 0;

    background-color: rgba(200, 0, 0, 0.7);
}

#ui-midride-menu-content{
    width: 100px;
}