/* Menu container */
#ui-midride-menu{
    position: absolute;

    top: 20px;
    left: 20px;
    z-index: 2000;

    width: 70px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    color: white;
}

.ui-midride-element{
    color: white;

    width: 80px;
    height: 80px;
    padding: 0;
}

/* Open / Close Button */
#open-inride-menu{
    width: 80px;
    height: 80px;
    padding: 0;
}

/* Return zoom to rider */
#zoom-frame-rider{
    position: absolute;

    top:120px;

    width: 80px;
    height: 80px;
    padding: 0;
}

#ui-midride-menu-content{
}