.leaflet-control-zoom a {
    width: 64px !important;
    height: 64px !important;
    line-height: 64px !important;
    font-size: 34px !important;
    touch-action: manipulation !important;
    background-color: rgba(220, 220, 220, 0.7) !important;
}

.leaflet-control-zoom {
    border-radius: 12px !important;
    overflow: hidden !important;
}

.leaflet-control-zoom a:first-child {
    border-bottom: 1px solid #ccc !important;
}

.leaflet-bottom.leaflet-right {
    margin-bottom: 20px !important;
    margin-right: 20px !important;
}