.leaflet-control-zoom a {
    width: 56px !important;
    height: 56px !important;
    line-height: 56px !important;
    font-size: 28px !important;
    touch-action: manipulation !important;
}

.leaflet-control-zoom {
    border-radius: 12px !important;
    overflow: hidden !important;
}

.leaflet-control-zoom a:first-child {
    border-bottom: 1px solid #ccc !important;
}

.leaflet-bottom.leaflet-right {
    margin-bottom: 20px !important;
    margin-right: 20px !important;
}