body{
    margin: 0;
}

#tracking-map{
    top: 0;
    left: 0;
    margin:0;
    padding: 0;

    width: 100vw;
    height: 100vw;
}

#preview-map{
    position: absolute;
    top: 100vw;
    left: 0;
    width: 100vw;
    height: calc(100dvh - 100vw);
    z-index: 1000;

    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    background-color: darkslategrey;
}

#description{
    position: absolute;
    z-index: 1001;
    bottom: 10px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#directions{
    position: absolute;
    z-index: 1001;
    top: 5px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#debug{
    position: absolute;
    z-index: 2000;
    top: 30px;
    left: 20px;
    width: 100%;

    font-size: medium;
    font-weight: normal;

}

#gps{
    position: absolute;
    z-index: 1001;
    top: 20px;
    right: 20px;
}

.gps-icon {
    width: 40px;
    height: 40px;

    background-color: green; /* ← your icon color */

    mask: url("../assets/gps-circle.svg") no-repeat center;
    mask-size: contain;

    -webkit-mask: url("../assets/gps-circle.svg") no-repeat center;
    -webkit-mask-size: contain;
}

.icon-btn {
    width: 40px;
    height: 40px;
    background: url('../assets/gps.svg') center/20px no-repeat;
    color: darkgreen;
}

.deactivated{
    color: red;
}