#settings-view {
    position: absolute;
    top: 0;
    left: 0;

    width: 350px;
    height: 100%;

    z-index: 3000;

    background-color: darkslategray;
    color: white;

    visibility: hidden;

    padding: 20px;

    overflow-y: auto;   /* vertical scrolling */
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    #settings-view {
        width: 100vw;
        height: 100vh;
    }
}

/* Card background */
.card-body{
    background-color: lightslategray;
    color: white;
}