#settings {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 3000;

    background-color: darkslategray;
    color: white;

    visibility: hidden;

    padding: 20px;
}

#settings-open{
    visibility: visible;
    position: absolute;
    top: 20px;
    right:20px;
    z-index: 2500;
    background-color: darkslategray;
    color: white;
}

/* Card background */
.card-body{
    background-color: lightslategray;
    color: white;
}