#splash-view {
    position: fixed;
    inset: 0;

    background-image: url("../../public/assets/splash02.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1.0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 1.0s ease;
    z-index: 9999;
}

#splash-view.hidden {
    opacity: 0.0;
    pointer-events: none;
}

#build-timestamp{
    position: absolute;
    top: 5px;
    left: 5px;

    font-size:small;
    color:#888;
}

#stats-wrapper{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40%;

    text-align: right;
    font-family: sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1em;
}

.stats-value{
    font-size: 2em;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    opacity: 0;
    color: darkslategrey;
}
.fadein-slow{
    opacity: 1;
    transition: opacity 4.0s ease;
}
.fadein-fast{
    opacity: 1;
    transition: opacity 1.0s ease;
}